#root {
  padding-top: 30px;
}

.App {
  display: flex;
  justify-content: center;
  background-color: #e0e5ec;
  width: 45%;
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  border-radius: 5px;
}

.PostsPage {
  width: 100%;
}

.Post {
  display: flex;
  flex-direction: column;
  list-style: none;
  border: 1px solid #d9dce0;
  background-color: white;
  margin-top: 20px;
  padding: 20px;
}

.CreatePostBlock {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: white;
  border: 1px solid #d9dce0;
  border-radius: 5px;
  padding: 10px 20px;
}

.createPostButton {
  text-decoration: none;
  background-color: #4469ae;
  border-radius: 3px;
  color: white;
  padding: 3px 8px;
}

.UserInfoBlock {
  display: flex;
  align-items: center;
}

.UserImage {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.PostInfoBlock {
  margin-left: 20px;
}

.UserName {
  color: #4469ae;
  font-weight: bold;
  font-size: 1.1rem;
}

.created {
  color: #6b7378;
  font-weight: lighter;
  margin-top: 10px;
}

.TextPost {
  color: #2a262d;
  font-size: 1.6rem;
}

.TextPostBlock {
  text-decoration: none;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
